/* .card img{
    transition: 3s;
}

.card:hover  img{
    transform: scale(1.1);
    transition: 2s;
} 
.box{
background-size: cover; 
background-position: center ;
}






   .glowing-title {
    font-size: 36px;
    text-align: center;
    animation: glowing 4s linear infinite;
  }
  
  @keyframes glowing {
    0% {
      color: greenyellow;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
    }
    50% {
      color: rgb(255, 166, 0);
      text-shadow: 0 0 20px rgb(179, 255, 0), 0 0 30px rgb(0, 255, 179), 0 0 40px rgb(255, 166, 0);
    }
    100% {
      color: rgb(0, 238, 255);
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
    }
  }  */





/* .fulll{
    height: 500px;
    margin-left: 10px;
    width: 1000px;
    

} */


.card img{
    transition: 3s;
}

.card:hover  img{
    transform: scale(1.1);
    transition: 2s;
} 
.box{
background-size: cover; 
background-position: center ;
}





  .contact{
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    margin-right: 0px;
}

.product{
    text-decoration: none;
    /* list-style-type: none; */
    margin: 20px;
    font-size: 20px;
    margin-left: 600px;
    font-weight: 900px;

}
.about{
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    font-weight: 900px;
    
  
}

.login{
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    font-weight: 900px;


}

.cart{
    text-decoration: none;
    margin: 20px;
    font-size: 20px;

}



.banner{
    background-image: url(https://www.avikalp.com/cdn/shop/products/MWZ2981_wallpaper1.jpg?v=1653192448);
background-size: cover; 
 background-position: center ;
height: 660px;
margin-top: cover;

/* background-attachment: fixed; */
}





  
